<%= render 'layouts/navbar' %>

<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1>Welcome to TasteMediaPrismicBlog</h1>
        <p>Explore our delicious blog posts and satisfy your cravings!</p>
      </div>
    </div>
  </div>
</header>

<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <% @posts.each do |post| %>
          <h2><%= link_to post.title, post_path(post) %></h2>
        <% end %>
      </div>
    </div>
  </div>
</section>
